@font-face {
    font-family: 'AvenirNext LT Pro Cn';
    src: url('../fonts/AvenirNextLTPro-Cn.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Cn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro HeavyCnIt';
    src: url('../fonts/AvenirNextLTPro-HeavyCnIt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-HeavyCnIt.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro BoldCnIt';
    src: url('../fonts/AvenirNextLTPro-BoldCnIt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-BoldCnIt.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro UltLight';
    src: url('../fonts/AvenirNextLTPro-UltLtIt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-UltLtIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../fonts/AvenirNextLTPro-DemiIt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-DemiIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'AvenirNext LT Pro DemiCnIt';
    src: url('../fonts/AvenirNextLTPro-DemiCnIt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-DemiCnIt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT ProRg';
    src: url('../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro Cn';
    src: url('../fonts/AvenirNextLTPro-CnIt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-CnIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'AvenirNext LT Pro BoldCn';
    src: url('../fonts/AvenirNextLTPro-BoldCn.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-BoldCn.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro MediumIt';
    src: url('../fonts/AvenirNextLTPro-MediumIt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-MediumIt.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../fonts/AvenirNextLTPro-HeavyIt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-HeavyIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'AvenirNext LT Pro UltLightCn';
    src: url('../fonts/AvenirNextLTPro-UltLtCn.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-UltLtCn.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../fonts/AvenirNextLTPro-Medium.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro HeavyCn';
    src: url('../fonts/AvenirNextLTPro-HeavyCn.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-HeavyCn.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro Demi';
    src: url('../fonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../fonts/AvenirNextLTPro-Heavy.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro MediumCn';
    src: url('../fonts/AvenirNextLTPro-MediumCnIt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-MediumCnIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'AvenirNext LT Pro MediumCn';
    src: url('../fonts/AvenirNextLTPro-MediumCn.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-MediumCn.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro Cn';
    src: url('../fonts/AvenirNextLTPro-DemiCn.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-DemiCn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro It';
    src: url('../fonts/AvenirNextLTPro-It.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-It.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../fonts/AvenirNextLTPro-BoldIt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'AvenirNext LT Pro UltLightCn';
    src: url('../fonts/AvenirNextLTPro-UltLtCnIt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-UltLtCnIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'AvenirNext LT Pro UltLight';
    src: url('../fonts/AvenirNextLTPro-UltLt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-UltLt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
body{
    font-family: 'AvenirNext LT Pro';
    background: url(../images/img-bg.png);
    background-size: 100%;
    padding-top: 90px;
    /*color: #6a6f86;*/
    background-repeat: no-repeat;
}
.button {
	display: inline-block;
	margin: 4px 2px;
	font-size: 14px;
	padding-left: 32px;
	padding-right: 32px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #86466f;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search-container {
	position: relative;
	display: inline-block;
	margin: 4px 2px;
	height: 50px;
	width: 50px;
	vertical-align: bottom;
}

.mglass {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.searchbutton {
	position: absolute;
	font-size: 30px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search {
	position: absolute;
	left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 150px; /* Bar width+1px */
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: 49px; /* Button width-1px */
}

.expandright:focus {
	padding: 0 0 0 16px;
}
.btn-login {
    background-color: #e2557a;
    color: white;
    border-radius: 5px;
    padding: 10px 25px;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
}
.btn-login:hover{
    background-color: white;
    color: #e2557a;
    border: 1px solid #e2557a;
}

.navbar-nav .nav-item a.nav-link {
  color: #312b45;
  font-family: AvenirNext LT Pro Demi;
  font-size: 14px;
  text-transform: uppercase;
}
.navbar-nav .nav-item a.nav-link:hover {
    color: #e2557a;
}
nav.navbar {
  /*box-shadow: 0 10px 10px 0 #e6e7eb;*/
  box-shadow: 3px 8px 18px 1px rgba(221, 221, 221, 0.77);
  padding: 0.8rem 3rem;
}
.navbar-brand {
  margin-right: 4rem;
}
.main-slider {
    margin-top: 50px;
}
.main-page-content {
  padding: 0 62px;
}
.content-sec h4, .content-over-img h4, .text-over-img h4, .text-cont h4 {
  
  font-family: AvenirNext LT Pro;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
}
.content-sec {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 0 0 10px 10px;
  padding: 15px;
}
.img-sec img {
  border-radius: 10px 10px 0 0;
  max-width: 100%;
  width: 100%;
}
.content-sec p, .content-over-img p, .text-over-img p, .text-cont p {
  font-family: AvenirNext LT Pro Demi;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 0;
  margin-top: 7px;
}
.orange{
  color: #fb9050;
}
.blue{
  color: #2ba4f0;
}
.box-content {
  border-radius: 15px;
  box-shadow:3px 8px 18px 1px rgba(221, 221, 221, 0.77);
}
.margin-top-50{
  margin-top:50px;
}
.green{
  color: #28aa56;	
}
.section-title {
  font-family: AvenirNext LT Pro;
  font-size: 32px;
  font-weight: bold;
  margin: 31px 0;
  text-transform: uppercase;
}
.dot {
  border-radius: 10px;
  display: inline-block;
  height: 13px;
  left: 15px;
  position: relative;
  top: -3px;
  width: 19px;
}
.yellow{
	background: #ffee9c;	
}
.lightblue{
	background: #bfefeb;	
}
.health .left-part {
  padding-right: 34px;
}
.margin-top-15{
  margin-top: 15px;
}
.img-content > img {
  max-width: 100%;
}
.img-content {
  position: relative;
}
.content-over-img {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 10px;
  bottom: 20px;
  left: 20px;
  padding: 15px;
  position: absolute;
  right: 20px;
}
.content-over-img .normal-text, .text-over-img .normal-text {
  color: #6a6f86;
  font-family: AvenirNext LT Pro;
  font-weight: 500;
}
.red{
	color: #e95288;
}
.carousel-inner {
  padding-bottom: 96px;
}
.carousel .content-over-img {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 10px;
  bottom: -86px;
  box-shadow: 0 4px 3px #cccccc;
  left: 20px;
  padding: 15px;
  position: absolute;
  right: 20px;
  z-index: 2147483647;
}
.img-content > img {
  border-radius: 10px;
  box-shadow: 0 0 3px #000000;
}
.text-over-img {
  bottom: 0;
  color: #ffffff;
  padding: 31px;
  position: absolute;
}
.text-over-img .normal-text {
  color: #ffffff;
  opacity: 0.8;
}
.lightpurp {
  color: #d7bdff;
}
.purple {
  color: #9a68e5;
}
.lightpink {
  background: #fdd6ec none repeat scroll 0 0;
}
.home-life-style .img-content {
  display: inline-block;
  margin: 0 14px;
}
.home-life-style .img-content > img {
  border-radius: 10px;
  box-shadow: 0 0 5px #cccccc;
}
.text-cont, .img-cont {
  float: left;
  width: 50%;
}
.vert-item {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 10px;
  box-shadow: 3px 8px 18px 1px rgba(221, 221, 221, 0.77);
  margin-bottom: 54px;
}
.vert-item:last-child {
  margin-bottom: 0px;
}
.text-cont {
  padding: 10px 8px;
}
.home-life-style .img-content:last-child {
  margin-right: 0;
}
.lightorange {
  color: #ffd9a8;
}
.lighorangebg {
  background: #ffd9a8 none repeat scroll 0 0;
}
.vert-item .img-cont > img {
  border-radius: 10px 0 0 10px;
}
.whats-on > .col-4 {
  padding-right: 33px;
}
.pink {
  color: #fb5199;
}
.lishtpurplebg {
  background: #deb4ff none repeat scroll 0 0;
}
.lightpinkclr {
  color: #ffdbdb;
}
.row.above-footer {
  background: rgba(0, 0, 0, 0) url("../images/main-page_76.gif") repeat scroll 0 0;
}
.row.above-footer > h1 {
  color: #ffffff;
  font-family: AvenirNext LT Pro Demi;
  font-size: 36px;
  margin: 0 auto 41px;
  text-align: center !important;
}
.email-field {
  border: medium none;
  border-radius: 8px;
  color: #e976a0;
  font-family: AvenirNext LT Pro Demi;
  height: 60px;
  padding: 12px;
  width: 78%;
}
.pink-btn {
  background: #e2557a none repeat scroll 0 0;
  border: medium none;
  border-radius: 8px;
  color: #ffffff;
  font-family: AvenirNext LT Pro Demi;
  font-size: 14px;
  margin-left: 6px;
  padding: 19px 32px;
  text-transform: uppercase;
}
.row.above-footer {
  background: rgba(0, 0, 0, 0) url("../images/main-page_76.gif") no-repeat scroll 0 0 / cover ;
  border-radius: 0 0 10px 10px;
  bottom: 0;
  left: 15px;
  padding: 69px 0;
  position: absolute;
  right: 15px;
}
.main-content-wrapper {
 /* border-radius: 0 0 10px 10px;
  box-shadow: 0 0 9px #cccccc;
  padding: 0 0 335px;
  position: relative;*/

         border-radius: 10px;
    box-shadow:3px 8px 18px 1px rgba(221, 221, 221, 0.77);
    padding: 0 0 335px;
    position: relative;
    margin: -1px auto !important;
    padding: 0 !important;
    overflow: hidden;
}
@media only screen and (min-width: 992px){
  .main-content-wrapper {
    max-width: 81%;
}
}
.subscribe {
  margin: 0 auto;
  width: 60%;
}
.footer-menu > li {
  display: inline-block;
  list-style: outside none none;
}
.footer-menu a {
  color: #a59eb5;
  font-family: AvenirNext LT Pro Demi;
  font-size: 14px;
  padding: 0 10px;
  text-transform: uppercase;
}
.footer-menu {
  margin-bottom: 0;
  text-align: right;
}
.copyright p {
  color: #a59eb5;
  font-family: AvenirNext LT Pro Demi;
  font-size: 14px;
  text-transform: uppercase;
  margin:0;
}
.copyright {
  padding: 30px 0;
}
.fa.fa-google-plus {
  margin-left: 35px;
}
a{
  color: #e2567b; 
}
a:hover{
  text-decoration: none;
  color: #e2567b;
}
/*========================================*/
  /* Sign Up */
/*========================================*/

.signup-holder{
  margin-top: 50px;
  /*margin-bottom: 50px;*/
  /*padding-bottom: 50px*/
  padding:0 60px 50px;
}
.signup-holder .stepwizard-step p {
    margin-top: 0px;
    color:#666;
}
.signup-holder .stepwizard-row {
    /*display: table-row;*/
}
.signup-holder .stepwizard {
    /*display: table;*/
    width: 100%;
    position: relative;
}
.signup-holder .stepwizard-step button[disabled] {
    /*opacity: 1 !important;
    filter: alpha(opacity=100) !important;*/
}
.signup-holder .stepwizard .btn.disabled,
.signup-holder .stepwizard .btn[disabled],
.signup-holder .stepwizard fieldset[disabled] .btn {
    opacity:1 !important;
    color:#000;
}
.signup-holder .stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 100%;
    display: none;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}
.signup-holder .stepwizard-step {
    /*display: table-cell;*/
    text-align: center;
    position: relative;
}
.signup-holder .btn-circle {
    text-align: center;
    font-family: 'AvenirNext LT Pro';
    padding: 14px 20px;
    font-size: 14px;
    background: transparent;
    color: #000;
    line-height: 1.428571429;
    border-radius: 8px;
    display: block;
    border: 1px solid #e7e4ef;
}
.signup-holder .btn-circle span{
  width: 20px;
  font-family: 'AvenirNext LT Pro';
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background: #e9e3ef;
  color: #000;
  margin-right: 5px;
  line-height: 23px;
  text-align: center;
  font-size: 12px;
}
.signup-holder .stepwizard-row .btn-success span{
  background: #e2567b;
  color: #fff;
}
.signup-holder .stepwizard-row .btn-success{
  border: 1px solid #e2567b;
  color: #e2567b !important;
}
.signup-holder{

}
.signup-holder .shadow-box{
      background: #fff none repeat scroll 0 0;
    margin-bottom: 25px;
    padding: 60px 70px;
    -webkit-box-shadow: 0px 2px 12px 3px rgba(221, 221, 221, 0.77);
    -moz-box-shadow: 0px 2px 12px 3px rgba(221, 221, 221, 0.77);
    box-shadow: 0px 2px 12px 3px rgba(221, 221, 221, 0.77);
    border-radius: 5px;
}
.signup-holder .shadow-box h2{
  margin-bottom: 15px;
  margin-bottom: 20px;
  font-family: 'AvenirNext LT Pro';
}
.pd-l-0 {
  padding-left: 0;
}
.pd-r-0 {
  padding-right: 0;
}
.signup-holder .br-0{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.signup-holder .bl-0{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form-control{
  border: 1px solid #e9e6f1;
  box-shadow: none;
  height: 47px !important;
  border-radius: 8px;
  color: #bcb7cb;
  font-size: 14px;
  font-family: 'AvenirNext LT Pro'
}
.signup-holder .btn-primary{
  background: #e2547a;
  text-transform: uppercase;
  border: none;
  font-size: 15px;
  padding: 15px;
  line-height: 23px;
    border-radius: 10px;
    margin-top: 10px;
     font-family: 'AvenirNext LT Pro';
    font-size: 15px;
    margin-bottom: 10px;
}
.signup-holder .setup-content{
  /*padding-top: 30px;*/
}
.img-holder{
  border: 2px dashed #e9e6f1;
  text-align: center;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  line-height: 70px;
}
.img-holder img{
  width: 30px;
}

.upload-user-pic a{
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'AvenirNext LT Pro';
}
.pd-30{
  padding-top: 30px;
  padding-bottom: 30px;
}
.pd-t-30{
  padding-top: 30px;
}
.has-error .form-control{
  border-color: #f61325;
}
.or-holder{
  color: #bdb9ca;
}
.or-holder span{
      background: #fff;
    z-index: 9999;
    position: relative;
}
.or-holder:after{
  position: absolute;
  left: 20px;
  width: 43%;
  clear: both;
  display: block;
  content: '';
  background: #bdb9ca;
  height: 1px;
  top: 12px;
}
.or-holder:before{
      position: absolute;
    right: 20px;
    width: 43%;
    clear: both;
    display: block;
    content: '';
    background: #bdb9ca;
    height: 1px;
    top: 12px;
}
.pd-bt-0{
  padding-bottom: 0;
}
/*.bg-img{
  background: url(../images/img-bg.jpg);
      background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
}*/
.signup-page{
  /*margin-top: 95px;*/
  /*box-shadow: none;*/
  /*border: none;*/
}
.box-shahdow-img{
   -webkit-box-shadow: 0px 2px 12px 3px rgba(221, 221, 221, 0.77);
    -moz-box-shadow: 0px 2px 12px 3px rgba(221, 221, 221, 0.77);
    box-shadow: 0px 2px 12px 3px rgba(221, 221, 221, 0.77);
    border-radius: 2px;
}
.box-shahdow-img img{
  width: 100%;
}

input[type=checkbox], input[type=radio]{
  display: none
}
  .label-cbx{
    margin-right: 0;
    margin-bottom: 0;
  }
  .i_bx{
//    border-bottom: 1px solid #cad5d9;
    margin-bottom: 0;
    }
    input[type="checkbox"]:checked + .label-cbx {
      border-color: transparent;
      background: #e2547a;
    }
    .label-cbx{
      background: transparent;
      border-radius: 5px;
    }
    .label-cbx:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      margin: -10px 0 0 -10px;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      background: #1976D2;
      transform: scale(0);
    }

    input[type="checkbox"]:checked + .label-cbx:before {
      transform: scale(1);
      opacity: 0;
      transition: all 0.6s ease-out;
    }

    .label-cbx:after {
      content: "";
      position: absolute;
      top: 18px;
      left: 8px;
      border-bottom: 3px solid transparent;
      border-right: 3px solid transparent;
    }

    input[type="checkbox"]:checked + .label-cbx:after {
      animation: 0.10s DrawMark ease-out 0.1s;
      animation-fill-mode: forwards;
  }
.label-cbx {
    background: #fff none repeat scroll 0 0;
    width: 25px;
    height: 25px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    transition: 0.3s ease;
    cursor: pointer;
    margin-right: 7px;
}
  @keyframes DrawMark {
    0% {
      width: 0px;
      height: 0px;
      transform: translate(0, 0) rotate(45deg);
    }

    100% {
      width: 7px;
      height: 14px;
      border-bottom: 3px solid #fff;
      border-right: 3px solid #fff;
      transform: translate(0, -15px) rotate(45deg);
    }
  }
.pd-t-20 {
  padding-top: 20px;
}
.signup-page .search-container{
  margin-left: 30px;
}
.m-b-20{
  margin-bottom: 20px !important 
}
.pd-50{
  padding-top: 180px !important;
  padding-bottom: 180px !important; 
}
#inboxModal .modal-body{
  padding: 30px 30px;
}
#inboxModal .modal-body p{
  font-size: 14px;
}
.modal-body .btn-block{
  background: #e2547a;
  padding: 10px;
  text-transform: uppercase;
  border: none;
  font-family: 'AvenirNext LT Pro';
  font-size: 12px;
  border-radius: 5px;
}
@media only screen and (max-width: 768px){
  .signup-holder{
    padding: 0 20px 50px;
  }
  .signup-holder .btn-circle{
    padding: 13px;
    font-size: 10px;
  }
  .signup-holder .shadow-box{
    padding: 20px
  }
}
#inboxModal a{
  text-transform: uppercase;
  font-family: 'AvenirNext LT Pro'
}

.selectric{
  border:1px solid #e9e6f1;
  border-radius: 8px;
  background: none
}
.selectric .button{
  background: transparent;
  text-align: right;
  right: -12px;
}
.selectric .label{
  height: 45px;
  font-family: 'AvenirNext LT Pro';
  line-height: 46px;
  font-size: 14px;
  color: #495057;
  margin-left: 15px;
}
.selectric .button:after{
  border-top-color: #000;
}
.form-control:focus{
  box-shadow: none;
  color: #bcb7cb;
  /*border: none;*/
}
.selectric-items{
  background: #fff;
  top: 90%;
  z-index: 1;
}
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bcb7cb;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bcb7cb;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #bcb7cb;
}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child){
     border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.datepicker td, .datepicker th{
      padding: 6.40px;
}
.header .mega-menu{
  position: static;
}
.header .dropdown-menu {
    width: 100%;
    margin: 20px 0;
    border: none;
    border-radius: 0;
    box-shadow: 0px 5px 9px -2px rgba(221, 221, 221, 0.77);
  }
.header .dropdown-menu .dropdown-content{
  padding: 20px 60px;
}
.header .dropdown-menu .dropdown-content ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.header .dropdown-menu .dropdown-content ul li {
  margin-bottom: 15px;  
}
.header .dropdown-menu .dropdown-content ul li a{

  color:#272337;
  font-size: 20px;
 font-family: 'AvenirNext LT Pro';
  display: block;
}
.header .dropdown-menu .dropdown-content ul li a:hover{
  color: #e2567b
}
.header .dropdown-menu .dropdown-content h6{
  text-transform: uppercase;
  font-size: 14px;
  color: #bab6c6;
}
.header .dropdown-menu .dropdown-content img{
  border-radius: 5px;
  width: 100%;  
}
.pd-l-0{
  padding-left: 0;
}
.header .dropdown-menu .dropdown-content .image-list p{
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 15px;
  line-height: 20px;  
}

.dropdown-item{
      white-space: initial;
}
.header .without-add .dropdown-menu{
      width: 55%;
    margin: 0px auto;
    border: none;
    border-radius: 0;
    /*box-shadow: 3px 8px 18px 1px rgba(221, 221, 221, 0.77);*/
     box-shadow: 0px 5px 9px -2px rgba(221, 221, 221, 0.77);
    border-radius: 10px;
    z-index: 5;
    left: 0;
    right: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}
.header .without-add .dropdown-menu .dropdown-content ul li a{
  font-size: 18px;
}
@media only screen and (max-width: 768px){
  .header .dropdown-menu .dropdown-content{
    padding: 0 0;
  }
  .header .dropdown-menu .dropdown-content ul li a{
    font-size: 15px;
  }
}



/*==================================*/
/* profile-main */
/*==================================*/
.profile-page{
  padding-bottom: 0;
}
.tab-content>.active{
  opacity: 1;
}
.profile-main{
  padding: 40px 30px
}
.ps-re{
  position: relative;
}
.edit-icon-i{
  position: absolute;right: 15px;
  bottom: 5px;
}
.pd-t-10{
  padding-top: 0px;
}
.pd-t-20{
  padding-top: 20px;
}
.user-img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
}  
.profile-main .profile-banner{
 
}
.profile-main  .editable-banner{
    width: 100%;
    padding: 20px;
    height: 250px;
    background-repeat: no-repeat;
      -webkit-box-shadow: 0px 2px 12px 3px rgba(221, 221, 221, 0.77);
    -moz-box-shadow: 0px 2px 12px 3px rgba(221, 221, 221, 0.77);
    box-shadow: 0px 2px 12px 3px rgba(221, 221, 221, 0.77);
    border-radius: 5px;
}
.profile-text{
  color: #fff;
  font-family: 'AvenirNext LT Pro';
}
.profile-text .btn-info{
  background: #c17290;
  border-radius: 25px;
  text-transform: uppercase;
  border: none;
  padding: 5px 10px 3px;
  font-size: 12px;
}
.profile-text  .btn-outline-secondry{
  color: #fff;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 8px;
  padding: 8px 12px 5px;
  text-transform: uppercase;
  font-size: 14px;
}
.profile-main .profile-left{
  padding: 20px 0;
}
.profile-main .profile-left .nav-link{
  padding-left: 0;
  padding-right: 0;
}
.profile-main .profile-left .profile-box{
  background: #fff;
    -webkit-box-shadow: 0px 2px 12px 3px rgba(231, 231, 231, 0.77);
    -moz-box-shadow: 0px 2px 12px 3px rgba(231, 231, 231, 0.77);
    box-shadow: 0px 2px 12px 3px rgba(231, 231, 231, 0.77);
    padding: 15px 20px;
    border-radius:10px; 
    margin-bottom: 30px;

}
.profile-main .profile-left .profile-box p{
  margin-bottom: 0;
}
.profile-main .profile-left .nav-link{
  color: #bdb8ca;
  margin-right: 30px;
  font-size: 20px;
  padding-bottom: 0;
}
.profile-main .profile-left .nav{
  margin-bottom: 30px;
}
.profile-main .profile-left .nav-item{
  /*margin-right: 8px;*/
}
.profile-main .profile-left .nav-link span{
    background: #e3e0ec;
    color: #666173;
    font-family: 'AvenirNext LT Pro';
    font-size: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    line-height: 18px;
    text-align: center;
    padding: 1px;
    vertical-align: top;
    margin: 5px 0 0;

}
.profile-main .profile-left .nav-link.active{
    color: #070f2b;
    border-bottom: 4px solid #d43b68;
}
.profile-main .profile-left .tab-content h4{
  color: #bdb8ca;
  font-size: 16px;
}
.profile-right{
  padding: 20px 0;
}
.pd-t-15{
  padding-top: 15px;
}
.profile-main .profile-left .tab-content h4.text-up{
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 2px;
}
.profile-main .profile-left .tab-content .lg-text{
  font-size: 20px;
}
.profile-main .profile-left .nav-link.active span{
  background: #6d7288;
  color: #fff;
}
.profile-box .btn-login{
  padding: 8px 10px 6px;
  font-weight: normal;
  font-size: 14.5px;
}
.br-8{
  border-radius: 8px;
}
.tab-pane .w-100{
  width: 81px !important;
  height: 81px !important;
}
.m-b-30{
  margin-bottom: 30px;
}
.btn-login-outline{
    padding: 8px 10px 6px;
    border: 2px solid #e9e6f1;
    text-transform: uppercase;
    font-size: 14.5px;
}
.disclaimer-text{
    color: #a29cb2;
    font-size: 18px;
}

.user-edit{
  position: absolute;
  bottom: -40px;
  width: 175px;
  text-align: center;
  background: #fff;
  padding: 0px 3px 0px;
  border-radius: 10px;
  left: -70px;
  display: none;
}
.user-edit:after{
        clear: both;
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background: url(../images/arrow-up.png);
    width: 20px;
    height: 10px;
    top: -8px;
    margin: 0 auto;
    background-size: 100%;
}
.showBgHolder{
     right: -41px;
    left: auto;
    width: 150px;
    box-shadow: 2px 2px 6px #ccc;
}
.user-edit ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.user-edit ul li{
  display: inline-block;
}
.user-edit ul li:first-child a{
   border: none;
   padding-left: 0;
}
.user-edit ul li a{
  display: block;
  border-left: 1px solid #f9a2a4;
  padding: 5px 2px 3px;
  color: #000;
  padding-left: 7px;
  font-size: 13px;
  text-transform: uppercase;
}
.edit-profile-modal .modal-body{
  padding: 0;
  min-height: 400px;
}
.edit-profile-modal .modal-content{
  border-radius: 10px;
  border: none;
  overflow: hidden;
}
.edit-profile-modal .modal-content .editable-banner{
  padding: 30px 30px 60px;  
  /*margin-bottom: 10px;*/
}
.edit-profile-modal .modal-content .editable-banner .edit-user-holder  img{
  width: 25px;
}
.edit-profile-modal .modal-content .editable-banner .profile-text .btn-outline-secondry{
  font-size: 11px;
}
.edit-profile-modal .edit-icon-i{
  right: 30px;
}
.w-100-m{
  width: 140px !important;
  height: 140px !important;
}
.line-divider{
  width: 100%;
  border: 1px solid #e9e6f1;
  height:1px;
  position: relative;
}
.line-divider:after{
    clear: both;
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background: url(../images/arrow-up-m.png);
    width: 38px;
    height: 20px;
    top: -10px;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: 100%;

}
.modal-lg{
  max-width: 1080px;
}
.edit-profile-modal .nav{
      justify-content: center
}
.edit-profile-modal .nav-link{
  color: #000;
  padding-left: 0;
  padding-right: 0;
  font-size: 20px;
  margin-right: 20px;
}
.edit-profile-modal .nav-link.active{
  color: #bdb8ca;
  border-bottom: 4px solid #d43b68
}
.tab-pattern{
  text-align: center;
  padding: 30px 8px 10px;
}
.tab-holder-m{
  padding: 20px;
}
.tab-pattern img{
  transition:all 0.3s;
border: 2px solid transparent;
}
.tab-pattern img:hover{
  border: 3px solid #e9769f;
      width: 90%;
    padding: 5px;
    border-radius: 8px;
}
.pd-sm{
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}
.btn-outline-secondary{
    border: 2px solid #e9e6f1;
    color: #030c36;
    border-radius: 8px;
    padding: 8px 30px 5px;
    font-size: 15px;
    text-transform: uppercase;
}
.btn-outline-primary{
  border: 2px solid #e2557a;
  color: #e2557a;
    border-radius: 8px;
    padding: 8px 30px 5px;
    font-size: 15px;
    text-transform: uppercase;
}
.btn-outline-primary:hover{
  background: #e2557a;
  color: #fff;
  border-color:  #e2557a;
}
.tab-color{
  padding: 30px 8px 10px;
}
.bg-banner-profile{
  width: 100%;
  height: 85px;
  margin-bottom: 5px;
  border-radius: 8px;
}
.bg-banner-profile.bg-white{
  border: 2px solid #e9e6f1
}
.bg-banner-profile.bg-green{
 background: #28aa56
}
.bg-banner-profile.bg-s-blue{
  background:  #2ba4f0
}
.bg-banner-profile.bg-blue{
  background: #9a68e5
}
.bg-banner-profile.bg-orange{
 background:  #fb9151
}
.bg-banner-profile.bg-yellow{
  background: #fbb151
}
.bg-banner-profile.bg-red{
  background:  #fb5951
}
.bg-banner-profile.bg-pink{
  background: #fb5199
}
.bg-banner-profile.bg-pink-d{
 background:  #e95389
}
.bg-banner-profile.bg-black{
  background: #242327
}
.bg-color-holder{
  background: #fff !important
}
.bg-color-holder .profile-text{
  color: #000
}
.bg-color-holder .profile-text .btn-outline-secondry{
    border: 1px solid #e9e6f1;
    color: #030c36
}
.bg-color-holder .profile-text .btn-info{
  background: #e5e6eb;
  color: #000;
}
/*=========================================*/
/* Search page */
/*=========================================*/
.main-content-wrapper .search-container{
  margin-left: 35px;
}
.search-holder{
  margin: 20px 0px 30px;
  padding:   0 45px 20px;
  box-shadow: 3px 8px 18px 1px rgba(221, 221, 221, 0.77)
}
.search-holder .btn-outline-secondary.dropdown-toggle:hover{
  background: none;   
    color: #000;

}
.search-holder   .dropdown-menu.dropdown-artist{
    width: 121px;
    min-width: 121px;
    border-radius: 8px;
    border-top-left-radius: 0;
    margin: -1px 0px;
    border: 2px solid #e9e6f1;
    border-top-right-radius: 0;
        padding: 6px 3px;
}
.search-holder  .dropdown-divider{
  border-top: 2px solid #e9e6f1
}
.search-holder  .dropdown-item{
  padding: 0.25rem 0.5rem
}
.search-holder  .btn-outline-secondary.focus, 
.search-holder  .btn-outline-secondary:focus,
.search-holder  .btn-outline-secondary.focus,
.search-holder  .btn-outline-secondary:active,
.search-holder  .btn-outline-secondary:not(:disabled):not(.disabled).active,
.search-holder  .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle{
  box-shadow: none !important;
  outline: none !important;
  background: none !important;   
    color: #000 !important;
    border-color:  #e9e6f1 !important;

}
.search-holder .dropdown-toggle span{
  display: block;
  text-align: left;
}
.search-holder .btn-outline-secondary{
  padding: 8px 40px 5px 10px
}
.text-gray{
  color: #b1adbf;
  text-transform: uppercase;
  font-size: 12px;
}
.search-holder .s-text{
  text-transform: capitalize;
}
.search-holder  .dropdown-toggle{
  position: relative;
}
.search-holder  .dropdown-toggle::after{
  position: absolute;
  right: 15px;
  top: 23px;
}
 .search-holder .input-group>.form-control:not(:last-child){
      border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
 .search-holder .form-control{
  border: 2px solid #e9e6f1;
  height: 57px !important;
}
.b-r-0{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.search-holder .btn-primary{
  background: #e2557a;
  border-color: #e2557a;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 8px; 
}
.btn-outline-secondary:hover{
  background: #e2557a;
  border-color: #e2557a;
  outline: none;  
}
.search-holder .pd-sm-btn.btn-outline-secondary{
  padding: 18px 10px 13px
}
.search-holder .pd-sm-btn.btn-outline-secondary img{
  vertical-align: text-bottom;
}
.search-list{
   padding:0 45px 20px;
}
.search-list h2{
  margin-bottom: 30px;
  margin-top: 10px;
}
.search-list .search-list-box{
    -webkit-box-shadow: 0px 2px 12px 3px rgba(231, 231, 231, 0.77);
    -moz-box-shadow: 0px 2px 12px 3px rgba(231, 231, 231, 0.77);
    box-shadow: 0px 2px 12px 3px rgba(231, 231, 231, 0.77);
    border-radius: 10px;
    margin-bottom: 30px;
    overflow: hidden;
    padding-right: 15px;
}
.search-list .search-list-box p{
  margin-bottom: 0;
    font-family: 'AvenirNext LT Pro UltLight';

}
.search-list .search-list-box h4{
  font-size: 13px;
  text-transform: uppercase;
  color: #b5b1c0;
  padding-top: 15px;
  line-height: 13px;
}
.search-list .search-list-box h3{
  font-size: 19px;
  margin-bottom: 5px;
}
.search-list .add_1{
  margin-bottom: 30px;
}
.search-holder .form-control{
  font-size: 22px;
  font-family: 'AvenirNext LT Pro UltLight';
}
.suggestion-holder{
      background: #fff;
    border: 2px solid #e9e6f1;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    margin-top: -5px;
    z-index: 9999;
    position: absolute;
    display: none;
    width: 96%;
    top: 100%;
}
.suggestion-holder .suggestion-head{
  background: #e0dee9;
  padding-top: 2px;
  color: #b1adbf;
  font-size: 13px;
  padding: 8px 13px;
  text-transform: uppercase;
}
.suggestion-holder .suggestion-head p{
  margin-bottom: 0;
}
.suggestion-body ul{
  list-style: none;
  padding: 0px 12px;
  margin: 0;
}
.suggestion-body ul li{
  border-bottom: 2px solid #e0dee9;
}
.suggestion-body ul li:last-child{
  border-bottom: none;
}
.suggestion-body ul li a{
  font-size: 20px;
  color: #353a51;
  padding: 15px 0;
  display: block;
}
.scrollup {
    width: 60px;
    height: 60px;
    position: fixed;
    color: #bdb8cc;
    bottom: 150px;
    border-radius: 50%;
      -webkit-box-shadow: 0px 2px 12px 3px rgba(231, 231, 231, 0.77);
    -moz-box-shadow: 0px 2px 12px 3px rgba(231, 231, 231, 0.77);
    box-shadow: 0px 2px 12px 3px rgba(231, 231, 231, 0.77);
    right: 200px;
    display: none;
    padding: 4px 0;
    font-size: 40px;
    text-align: center;
    background: #fff;
}
.search-list .search-list-box.search-author-box{
  padding: 10px 20px;
}
.search-list .search-list-box.search-author-box img{
      border-radius: 50%;
    height: 140px;
    width: 140px;
    object-fit: cover;
}
.suggestion-holder .search-list-box.search-author-box img{
      border-radius: 50%;
    height: 140px;
    width: 140px;
    object-fit: cover;

}
.suggestion-holder .search-list-box.search-author-box{
  padding: 10px 20px;
}
.suggestion-holder .search-list-box{
    -webkit-box-shadow: 0px 2px 12px 3px rgba(231, 231, 231, 0.77);
    -moz-box-shadow: 0px 2px 12px 3px rgba(231, 231, 231, 0.77);
    box-shadow: 0px 2px 12px 3px rgba(231, 231, 231, 0.77);
    border-radius: 10px;
    /*margin-top: 30px;*/
    margin: 30px 30px 30px;
    overflow: hidden;
    padding-right: 15px;
}
.suggestion-holder .search-list-box p{
  margin-bottom: 0;
    font-family: 'AvenirNext LT Pro UltLight';

}
.suggestion-holder .search-list-box h4{
  font-size: 13px;
  text-transform: uppercase;
  color: #b5b1c0;
  padding-top: 15px;
  line-height: 13px;
}
.suggestion-holder .search-list-box h3{
  font-size: 19px;
  margin-bottom: 5px;
}
.gray-text{
  color: #6a6f86;
}
.box-content .content-sec h3{
  font-size: 17px;
}
.vertical-section  .vert-item{
  margin-bottom: 40px;
}
.vertical-section {
  margin-top: 40px;
}
.vertical-section  .img-cont{
  width: 33.667%;
}
.vertical-section  .text-cont{
  width: 65.667%;
  padding: 10px 30px;
  padding-top: 25px;
}
.vertical-section  .text-cont h3{
  font-size: 20px
}
.vertical-section .vert-item .img-cont > img{
    width: 100%;
    height: 170px;
    object-fit: cover;
}
.vertical-section .vert-item{
  box-shadow: 3px 8px 18px 1px rgba(221, 221, 221, 0.77)
}
.right-section-md img{
  height: 187px !important;
  object-fit:cover;
}

.home-life-style  .right-section-md .img-content{
   margin: 0 0 25px !important
}

.m-t-30{
  margin-top: 30px;
}
.pd-l-0{
  padding-left: 0;
}
.home-life-style  .right-section-md .img-content .text-over-img{
  padding: 15px;
}
.vert-item{
  overflow: hidden;
}
.m-b-50{
  margin-bottom: 50px;
}
.com-section.home-life-style .img-content{
  width: 100%;
  display: block;
  margin: 0;
}
.article-page .main-slider{
  margin-top: 20px;
}
@media only screen and (min-width: 992px){
  .m-0{
  margin: 0;
}
  .row-custom{
    margin-left: -30px;
    margin-right: -30px;
  }
  .home-life-style.com-section .img-content > img{
    height: 412px;
  }
   .w-30{
    width: 28.6%
  }
  .w-30 img{
    width: 100%;
  }
}
@media only screen and (max-width: 992px){

  .whats-on .vert-item:last-child{
    margin-bottom: 30px;
  }
   .m-0{
    margin-left: -15px !important;
    margin-right: -15px !important
   }
  .com-section.home-life-style .img-content{
        display: block;
    margin: 0 0px 20px;
    width: 100%;
  }
  .com-section.home-life-style .img-content img{
    width: 100%;
  }
 
  .vertical-section .img-cont,
  .vertical-section .text-cont{
    width: 100%;
  }

  body{
    background: none;
    margin-top: 0;
    padding-top: 0;
  }
}